/obsolete/merge_without_buffer_standalone.h
/obsolete/merge_without_buffer_trim1.h
/obsolete/merge_without_buffer_trim2.h
/obsolete/merge_without_buffer_trim3.h
/obsolete/merge_common.h
/obsolete/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
